.bandeira{
    display: flex;
    width: 400px;
    height: 200px;;
    border: 1px solid;
}

.japao{
    justify-content: center;
    align-items: center;
}circle {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.br{
    background-color: rgb(4, 153, 4);
    justify-content: center;
}
    
