* {
    margin: 0px
}

.div {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#div1 {
    background-color: rgb(174, 0, 255);
}

#div2 {
    background-color: rgb(255, 0, 200);
}

#div3 {
    background-color: rgb(255, 153, 0);
}

#div4 {
    background-color: rgb(255, 251, 0);
}

#span {
    background-color: rgb(255, 0, 55);
}

.container {
    position: fixed;
    width: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotacao 5s infinite;
}

@keyframes rotacao {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}